<a href="https://colab.research.google.com/github/Rub9nnn/Pemrograman-Dasar/blob/main/pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
x = 6
print(type(x))

x = 6.0
print (type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [15]:
x = True
print (type(x))
x = False
print (type(x))

<class 'bool'>
<class 'bool'>

In [16]:
numbers = [23, 43, 12, 34]
numbers [0]
numbers [1]
numbers [2]
numbers [3]

numbers [2]
numbers [2]

print (numbers[1])
print (numbers[2])
print (numbers[3])

43
12
34

In [18]:
numbers = [1, 2 , 3]

numbers.insert(4, 5)

numbers[3] = 4

numbers.pop(2)

3

In [25]:
myList = [1,"Rumah",4.5, True, ["Kamar mandi", "Kamar tidur"]]
myList = [0]
myList = [1]
myList = [3]
myList = [4]

myList=[4][0]
myList=[4][1]

IndexError: list index out of range